# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear
.amazonq
hs_err_pid*

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# LaTeX
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv

# OS
.DS_Store
Thumbs.db
